# Compilation files
###################
*.o
*.mod
*.exe

# WRF/WPS temporary files
#########################
WPS/GRIBFILE.*
WPS/Vtable
WPS/geo_em.*
WRFV3/Registry/io_boilerplate_temporary.inc
WRFV3/Registry/Registry
WRFV3/external/io_int/io_int_idx_tags.h
WRFV3/external/io_int/test_io_idx
WRFV3/external/io_grib1/io_grib1.f90
WRFV3/external/io_grib_share/io_grib_share.f90
diffwrf
WRFV3/frame/md_calls.inc
WRFV3/frame/module_dm.F
WRFV3/frame/module_state_description.F
WRFV3/inc/dm_comm_cpp_flags
WRFV3/inc/wrf_io_flags.h
WRFV3/inc/wrf_status_codes.h
WRFV3/run/namelist.input
WRFV3/run/namelist.input.backup.2018-11-13_09_47_47
WRFV3/run/namelist.input.backup.2018-11-13_10_05_36
WRFV3/test/em_real/README.namelist
WRFV3/test/em_real/p3_lookup_table_1.dat-v2.8.2
WRFV3/test/em_real/p3_lookup_table_2.dat-v2.8.2
WRFV3/test/em_real/CAMtr_volume_mixing_ratio*
WRFV3/test/em_real/CCN_ACTIVATE.BIN
WRFV3/test/em_real/CLM_*DATA
WRFV3/test/em_real/ETAMPNEW_DATA.expanded_rain
WRFV3/test/em_real/MPTABLE.TBL
WRFV3/test/em_real/aerosol.formatted
WRFV3/test/em_real/aerosol_lat.formatted
WRFV3/test/em_real/aerosol_lon.formatted
WRFV3/test/em_real/aerosol_plev.formatted
WRFV3/test/em_real/bulkdens.asc_s_0_03_0_9
WRFV3/test/em_real/builkradii.asc_s_0_03_0_9
WRFV3/test/em_real/capacity.asc
WRFV3/test/em_real/coeff_p.asc
WRFV3/test/em_real/coeff_q.asc
WRFV3/test/em_real/constants.asc
WRFV3/test/em_real/kernels.asc_s_0_03_0_9
WRFV3/test/em_real/kernels_z.asc
WRFV3/test/em_real/masses.asc
WRFV3/test/em_real/met_em.*
WRFV3/test/em_real/namelist.output
WRFV3/test/em_real/rsl.out*
WRFV3/test/em_real/rsl.error*
WRFV3/test/em_real/termvels.asc
WRFV3/test/em_real/wrfbdy*
WRFV3/test/em_real/wrfinput*
WRFV3/test/em_real/wrfout*
WRFV3/tools/fseeko64_test
WRFV3/tools/fseeko_test
WRFV3/tools/gen_comms.c
WRFV3/tools/registry
compile_job.*
compile_wps.*
# Added by Ramzi Kutteh starting with V4.4.1
WRF/Registry/Registry
WRF/Registry/io_boilerplate_temporary.inc
WRF/external/io_grib1/io_grib1.f90
WRF/external/io_grib_share/io_grib_share.f90
WRF/external/io_int/io_int_idx_tags.h
WRF/external/io_int/test_io_idx
WRF/frame/md_calls.inc
WRF/frame/module_dm.F
WRF/frame/module_state_description.F
WRF/inc/dm_comm_cpp_flags
WRF/inc/wrf_io_flags.h
WRF/inc/wrf_status_codes.h
WRF/phys/module_sf_noahmp_glacier.F
WRF/phys/module_sf_noahmp_groundwater.F
WRF/phys/module_sf_noahmpdrv.F
WRF/phys/module_sf_noahmplsm.F
WRF/run/MPTABLE.TBL
WRF/run/namelist.input
WRF/test/em_real/BROADBAND_CLOUD_GODDARD.bin
WRF/test/em_real/README.namelist
WRF/test/em_real/README.physics_files
WRF/test/em_real/eclipse_besselian_elements.dat
WRF/test/em_real/ishmael-gamma-tab.bin
WRF/test/em_real/ishmael-qi-qc.bin
WRF/test/em_real/ishmael-qi-qr.bin
WRF/test/em_real/p3_lookupTable_1.dat-3momI_v5.1.7
WRF/test/em_real/p3_lookupTable_1.dat-5.3-2momI
WRF/test/em_real/p3_lookupTable_2.dat-2momI_v5.2.3
WRF/test/em_real/wind-turbine-1.tbl
WRF/tools/fseeko64_test
WRF/tools/fseeko_test
WRF/tools/gen_comms.c
WRF/tools/registry
