# Compilation files
###################
*.o
*.mod
*.exe
compile_job.o*
compile_wps.o*

# WRF/WPS temporary files
#########################
namelist.input.backup*
configure.wrf
configure.wps
configure.wps.backup
configure.wrf.backup
WPS/GRIBFILE.*
WPS/Vtable
WPS/geo_em.*
WPS/foo_28519.c
WPS/foo_28519.f 
WRFV3/Registry/Registry
WRFV3/Registry/io_boilerplate_temporary.inc
WRFV3/external/io_int/io_int_idx_tags.h
WRFV3/external/io_int/test_io_idx
WRFV3/test/em_real/CAMtr_volume_mixing_ratio*
WRFV3/test/em_real/CCN_ACTIVATE.BIN
WRFV3/test/em_real/CLM_*DATA
WRFV3/test/em_real/ETAMPNEW_DATA.expanded_rain
WRFV3/test/em_real/MPTABLE.TBL
WRFV3/test/em_real/aerosol.formatted
WRFV3/test/em_real/aerosol_lat.formatted
WRFV3/test/em_real/aerosol_lon.formatted
WRFV3/test/em_real/aerosol_plev.formatted
WRFV3/test/em_real/bulkdens.asc_s_0_03_0_9
WRFV3/test/em_real/builkradii.asc_s_0_03_0_9
WRFV3/test/em_real/capacity.asc
WRFV3/test/em_real/coeff_p.asc
WRFV3/test/em_real/coeff_q.asc
WRFV3/test/em_real/constants.asc
WRFV3/test/em_real/kernels.asc_s_0_03_0_9
WRFV3/test/em_real/kernels_z.asc
WRFV3/test/em_real/masses.asc
WRFV3/test/em_real/met_em.*
WRFV3/test/em_real/namelist.output
WRFV3/test/em_real/rsl.out*
WRFV3/test/em_real/rsl.error*
WRFV3/test/em_real/termvels.asc
WRFV3/test/em_real/wrfbdy*
WRFV3/test/em_real/wrfinput*
WRFV3/test/em_real/wrfout*
WRFV3/tools/fseeko64_test
WRFV3/tools/fseeko_test